<div class="ticket">
  <div class="logo"></div>
  <div class="dotted-line"></div>
  <h3>ENTER NUMBERS</h3>

  <div class="number-input">
    <!-- <form id="numbers" action="/calculating.html"> -->
      <form id="numbers">
      <input type="number" ng-model="user.number1" class="number" />
      <input type="number" ng-model="user.number2" class="number" />
      <input type="number" ng-model="user.number3" class="number" />
      <input type="number" ng-model="user.number4" class="number" />
      <input type="number" ng-model="user.number5" class="number" />
      <input type="number" ng-model="user.number6" class="number" />
      <input type="submit" class="button" ng-click="update(user)" value="CALCULATE" />
    </form>
  </div>

  <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre>

</div>
